@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.main-container {
  flex-grow: 1;
  background-color: #FFFFFF;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* buttons */

.button-link {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}


/* header*/

.page-header {
  margin-bottom: -6px;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  align-self: flex-start;
  margin-right: 30px;
  width: 138px;
  object-fit: contain;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 290px;
  list-style: none;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-button-link {
  margin-left: 20px;
  width: 160px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.nav-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
}

.favorite-hotels {
  position: relative;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
}

.likes-number {
  position: absolute;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 5px;
  left: 20px;
  top: 10px;
}

/* main */

/* hero*/

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/collar-hero.svg"),
    url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, left top;
  background-size: 100% auto, cover;
  background-color: #a9cfe8;
  text-align: center;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

/* advantages*/

.advantages-container {
  padding: 69px 290px;
}

.reasons {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-lead {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item,
.advantages-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 113px 85px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-wrap {
  padding: 102px 85px;
}

.advantages-item-big {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(3n):not(.advantages-item-big) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-img {
  display: block;
  object-fit: contain;
  margin: auto;
}

/* recommends */

/* повторяется с .advantages-lead - Объединить?*/

.recommends-container {
  padding: 69px 290px;
}

.recommend-lead {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.recommend-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.recommend-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 81px 85px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.recommend-item:nth-child(2n) {
  background-color: #ffffff;
}

.recommend-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.recommend-description {
  margin-top: 0;
  margin-bottom: 0;
}

.recommend-title-house::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 72px;
}

.recommend-title-food::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 72px;
}

.recommend-title-souvenir::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 30px;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 72px;
}

/* search */

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button-link {
  display: inline-block;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

/* subscribe-main */

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
  text-align: center;
}


.subscribe-main {
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

input[type=text] {
  font-family: inherit;
  line-height: 24px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px, 0, 0, 4px;
  background-color: #F2F2F2;
}

/* footer*/

.page-footer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: #FFFFFF;
}

.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 235px;
}

.contact {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  padding: 13px 12px;
}

.social-link-vk {
  mask-image: url("../images/vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #83B3D3;
}

.social-link-tg {
  mask-image: url("../images/tg.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #83B3D3;
}

.social-link-youtube {
  mask-image: url("../images/youtube.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #83B3D3;
}

.author-logo {
  width: 115px;
  margin-left: auto;
}

/* catalog*/

/* hotels-filter*/

.inner-wrapper {
  padding: 35px 70px;
  padding-bottom: 70px;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.inner-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.home-page {
  mask-image: url("../images/home.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #FFFFFF;
  width: 12px;
  height: 12px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  width: 151px;
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  word-break: keep-all;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 141px;
  width: 141px;
}

.catalog-filter-price {
  width: 288px;
  margin-right: 70px;
}

.price-field {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  color: #FFFFFF;
  line-height: 23px;
}

.control-input {
  width: 20px;
  height: 20px;
}

input[type=number] {
  font-family: inherit;
  line-height: 24px;
  padding: 12px 20px;
  width: 103px;
  height: 24px;
  border: none;
  border-radius: 4px, 0, 0, 4px;
  background-color: #F2F2F2;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  align-self: flex-end;
  width: 191px;
}

.filter-button {
  box-sizing: border-box;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background: transparent;
  border: none;
}


.active-filter-button {
  background-color: #82B3D3;
  border-radius: 4px;
}

/* catalog */

.catalog-services {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  margin-top: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-select {
  font-family: inherit;
  color: #333333;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.catalog-mode-list {
  display: flex;
  align-items: center;
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.catalog-mode-item {
  width: 48px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-mode-active {
  border: 2px sold #000000;
  /* Заменить, поставить актив к айтем? */
}

.mode-link {
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #000000;
  width: 16px;
  height: 14px;
}

.card-mode {
  mask-image: url("../images/card-icon.svg");
}

.more-mode {
  mask-image: url("../images/icon-more.svg");
}

.list-mode {
  mask-image: url("../images/list-icon.svg");
}


/* .catalog-mode-active {
  mask-border: 2px solid #000000;
} */

.catalog {
  padding: 50px 70px;
  padding-bottom: 60px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 340px;
  box-shadow: 0 0 0 1px #E6E6E6;
}

.catalog-title-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.catalog-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  row-gap: 16px;
  align-items: center;
}

.card-description {
  color: #333333;
}

.card-price {
  justify-self: end;
  color: #333333;
}

.more-button {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
}

.favourite-card {
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.current-favourite {
  box-sizing: border-box;
  width: 140px;
  font-family: inherit;
  padding: 8px 18pxpx;
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-align: center;
}

.card-rating {
  align-self: end;
  margin: 0;
  padding: 9px 23px;
  width: 145px;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-more {
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}
