@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}


.visually-hidden {
  visibility: hidden;
}


/* buttons */

.button-link {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
}

.main-button {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}


/* header*/

.page-header {
  margin-bottom:0;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
  width: 138px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-link-current {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 290px;
  list-style: none;
}

.navigation-user-link {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-button-link {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.nav-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.favourite-hotels {
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.likes-number {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  border-radius: 50%;
  padding: 5px;
  padding-left: 4px;
}

/* main */

.page-container {
  width: 1200px;
  margin: 0 auto;;
}

/* hero*/

.hero {
  margin-top: 0;
  background: bottom url(../images/collar-hero.svg),
   url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #a9cfe8;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

/* advantages*/

.reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-big {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-description {
  color: inherit;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* recommends */

/* повторяется с .advantages-lead - Объединить?*/

.recommend-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.recommend-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.recommend-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommend-item:nth-child(2) {
  background-color: #ffffff;
}

.recommend-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

/* search */

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button-link {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

/* subscribe-main */

.subscribe-main {
  color: #FFFFFF;
  text-align: center;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

input[type=text] {
  line-height: 24px;
  padding: 12px 20px;
  width: 412px;
  height: 28px;
  border: none;
  border-radius: 4px, 0, 0, 4px;
  background-color: #F2F2F2;
}

/* footer*/

.social-list {
  list-style: none;
}

.contact {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.social-link-vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

.social-link-tg {
  background-image: url(../images/tg.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}

.social-link-youtube {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}

/* catalog*/

/* hotels-filter*/

.catalog-filter {
  display: flex;
}

.inner-wrapper {
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-list {
  list-style: none;
}

.home-page {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  widows: 12px;
  height: 12px;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  color: #FFFFFF;
  line-height: 23px;
}

.control-input {
  width: 20px;
  height: 20px;
}

input[type=number] {
  line-height: 24px;
  padding: 12px 20px;
  width: 103px;
  height: 24px;
  border: none;
  border-radius: 4px, 0, 0, 4px;
  background-color: #F2F2F2;
}

.filter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background: transparent;
  border: none;
}


.active-filter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  align-self: center;
}

/* catalog */

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-select {
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  padding-right: 131px;
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
}

.catalog-mode {
  display: block;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.card-mode {
  background-image: url(../images/card-icon.svg)
}

.more-mode {
  background-image: url(../images/icon-more.svg);
}

.list-mode {
  background-image: url(../images/list-icon.svg);
}

.catalog-mode-active {
  border: 2px solid #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-title-link {
  text-decoration: none;
  color: #000000;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
}

.card-description {
  color: #333333;
}

.card-price {
  color: #333333;
}

.more-button {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
}

.favourite-card {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  border-radius: 4px;
}

.current-favourite {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.card-rating {
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 22px;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  width: 95px;
}

.pagination {
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-item {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}
